:root {
  --glass-bg: rgba(255, 255, 255, 0.6);
  --glass-border: rgba(255, 255, 255, 0.6);
  --honey-glow: 0 0 15px rgba(242, 175, 41, 0.5);
  --leaf-green: #6B705C;
  --nectar-gold: #F2AF29;
  --dark-green: #2D3A26;
  --main-background: #FDFCF0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;

    background-color: var(--main-background);
    color: var(--leaf-green);
}

.sidebar {
    background-color: var(--dark-green);
    color: var(--nectar-gold);
}

button {
    cursor: pointer;
    background-color: var(--nectar-gold);
    color: var(--leaf-green);
    padding: 0.6rem;
    border: 0;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.1rem;
}

.site-card {
    background-color: var(--glass-bg);
    border: 1px solid var(--nectar-gold);
}