:root {
    --clr-primary: hsla(74, 32%, 32%, 1);
    --clr-dark: hsla(88, 38%, 15%, 1);
    --clr-light: hsla(52, 94%, 94%, 1);
    --clr-accent-light: hsla(32, 65%, 62%, 1);
    --clr-accent: hsla(28, 67%, 44%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.4;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-inline-size: 100%;
    display: block;
}

h1 {
    font-size: clamp(2rem, 5vw, 2.6rem);
    line-height: 1.1;
}

h2 {
    font-size: clamp(1.25rem, 5vw, 1.8rem);
    line-height: 1.1;
}

button {
    cursor: pointer;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    padding: 1rem;
    border: 1px solid var(--clr-accent-light);
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.1rem;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
    background-color: var(--clr-primary);
    transform: translateY(-2px);
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr auto;

    grid-template-areas: 
        "sidebar main"
        "sidebar main"
        "footer footer";
}

aside {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid var(--clr-primary);
    padding: 1.2rem;
}

.logo {
    margin-bottom: 2.5rem;
}

nav {
    flex: 1;
    display: flex;
}

main {
    grid-area: main;
    display: grid;
    grid-template: 1fr 3fr / 2fr 1fr;
    border: 2px solid var(--clr-primary);
}

.main-header {
    grid-column: 1 / -1;
    border: 2px solid var(--clr-primary);
    padding: 1.2rem;
}

.left-col {
    grid-column: 1 / 2;
    border: 2px solid var(--clr-primary);
    padding: 1.2rem;
}

.right-col {
    border: 2px solid var(--clr-primary);
    padding: 1.2rem;
}

footer {
    grid-area: footer;
    text-align: center;
    border: 2px solid var(--clr-primary);
    padding: 1rem;
    line-height: 1.1;
    font-size: 1rem;
}

