:root {
    --clr-primary: hsla(74, 32%, 32%, 1);
    --clr-dark: hsla(88, 38%, 15%, 1);
    --clr-light: hsla(52, 94%, 94%, 1);
    --clr-light-transp: hsla(52, 94%, 94%, 0.75);
    --clr-accent-light: hsla(32, 65%, 62%, 1);
    --clr-accent: hsla(28, 67%, 44%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--clr-dark);
    color: var(--clr-dark);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.4;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-inline-size: 100%;
    display: block;
}

h1 {
    font-size: clamp(2rem, 5vw, 2.6rem);
    line-height: 1.1;
}

h2 {
    font-size: clamp(1.25rem, 5vw, 1.8rem);
    line-height: 1.1;
}

em {
    color: var(--clr-accent);
}

button, input {
    cursor: pointer;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    padding: 0.6rem;
    border: 1px solid var(--clr-accent-light);
    border-radius: 24px;
    font-weight: 600;
    font-size: 1.1rem;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
    background-color: var(--clr-primary);
    transform: translateY(-2px);
}

input{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-size: 1.1rem;
}

input:focus {
    outline: 2px solid var(--clr-accent-light);
    border-color: var(--clr-accent);
}

.container {
    padding: 1.6rem;
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 1.5rem;
    grid-template-rows: 1fr auto;

    grid-template-areas: 
        "sidebar main"
        "sidebar main"
        "footer footer";
}

aside {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.2rem;
    border-radius: 24px;
    border: 1px solid hsla(52, 94%, 100%, 0.5);
    box-shadow: 0 8px 32px 0 hsla(88, 38%, 5%, 0.25);
    background-color: var(--clr-light-transp);
}

.logo {
    margin-bottom: 2.5rem;
    display: flex;
    gap: 0.4rem;
    align-content: center;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: var(--clr-primary);
  border-radius: 50%;
  display: inline-block;
}

nav {
    flex: 1;
    display: flex;
}

main {
    grid-area: main;
    display: grid;
    grid-template: auto / 2fr 1fr;
}

.main-header {
    grid-column: 1 / 2;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--clr-light);
}

.search-area {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.left-col {
    grid-column: 1 / 2;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-header img {
    justify-self: center;
}

.site-card{
    margin-bottom: 4rem;
    border-radius: 24px;
    border: 1px solid hsla(52, 94%, 100%, 0.5);
    box-shadow: 0 8px 32px 0 hsla(88, 38%, 5%, 0.25);
    background-color: var(--clr-light-transp);
    padding: 0.6rem;
}

.right-col {
    grid-row: 1 / 3;
    grid-column: 2;
    padding: 1.2rem;
    display: grid;
    grid-template: 4fr;
    gap: 1rem;
    font-size: 1rem;
    text-align: center;
}

.card {
    border: 0gi;
    border-radius: 24px;
    border: 1px solid hsla(52, 94%, 100%, 0.5);
    box-shadow: 0 8px 32px 0 hsla(88, 38%, 5%, 0.25);
    background-color: var(--clr-light-transp);
    padding: 0.6rem;
}

.seed-bank img {
    justify-self: center;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 1rem;
    line-height: 1.1;
    font-size: 1rem;
    color: var(--clr-accent);
}

